.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.justify-between{
    justify-content: space-between;
}
.btn{
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 600;
   border: 2px solid transparent;
   outline: none;
   cursor: pointer;
   text-transform: uppercase;
   transition: .3s ease;
}
.btn-primary{
    background: rgb(228, 72, 72);
    color: black;
}
.btn-primary:hover{
    background: transparent;
    border-color: rgb(228, 72, 72);
    color: rgb(228, 72, 72);
}
.btn-secondary{
    background:transparent;
    color: rgb(228, 72, 72);
    border-color: rgb(228, 72, 72);
}
.btn-secondary:hover{
    background: rgb(228, 72, 72);
    color: black;
}
.flex-1{
    flex: 1;
}
.justify-center{
    justify-content: center;
}